.idea/
.venv/
__pycache__/
data/
data/MNIST/t10k-images-idx3-ubyte
data/MNIST/t10k-labels-idx1-ubyte
test_weights.pkl
torch_nn.py
torch_testing.ipynb
data/MNIST/train-images-idx3-ubyte
data/MNIST/train-labels-idx1-ubyte
weights/weights.pkl
weights_test.pkl
